/* CrownTitle styles */
.crown-title-container {
  padding-top: 0.5rem;
  position: relative;
  display: inline-block;
}

.crown-icon {
  position: absolute;
  top: 1rem;
  left: -1.4rem;
  width: 2.4rem;
  height: auto;
  z-index: 10;
  transform: rotate(-15deg);
  transition: transform 0.3s ease;
}

.crown-title-container:hover .crown-icon {
  transform: rotate(-5deg) scale(1.1);
}

@media (max-width: 768px) {
  .crown-icon {
    width: 2.2rem;
    height: auto;
    top: 1rem;
  }
}
