---
const target = '/es/blog';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <link rel="canonical" href={target} />
  </head>
  <body>
    <a href={target}>Continuar</a>
  </body>
</html>
